{
  "jsc": {
    "target": "es2020",
    "parser":{
      "syntax": "ecmascript"
    },
    "minify": {
      "compress": true,
      "mangle": true
    }
  },
  "minify": true,
  "module": {
    "type": "commonjs"
  },
}
